			body {
					background: #efefef;
					height: 100%;
					font-family: arial, verdana, sans-serif;
					font-size: 11pt;
					margin: 0;
					padding: 0;
			}

			a {
				text-decoration: none;
			}

			/* The main (middle) part of the page */
			#main {
				width: 876px;
				height: 100%;
				min-height: 100%;
				background-color: #efefef;
				overflow: hidden;
				margin: 0 auto;
				text-align: center;
			}

			#surveyname {
				margin: 0 auto;
			}

			/* The header at the top */
			#title {
				width: 100%;
				text-align: center;
				background: -webkit-linear-gradient(#777777, #111111); /* For Safari */
				background: -o-linear-gradient(#777777, #111111); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#777777, #111111); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#777777, #111111); /* Standard syntax */			    
				border-bottom: 3 solid #e1e4e6;			    
			}

			.maintitle {
				font-family: "Brush Script MT", cursive;
				font-size: 48pt;
				font-style: italic;
				color: #002e3b;
			}


			/* The footer at the bottom of the page */
			#footer {
				width: 100%;
				height: 20px;
				position: fixed;
				bottom: 0;
				background: #444444;
				margin: 0 auto;
				left: 0;
				padding-top: 10px;
				border-top: 3 solid #e1e4e6;
			}

			.copyright {
				font-size: 10pt;
				color: #5d7277;
				margin: 0 auto;
			}

			/* The menu */
			#menu {
			    width: 100%;
			    height: 85px;
			    font-weight: normal;
			    text-align: center;
				background: -webkit-linear-gradient(#777777, #111111); /* For Safari */
				background: -o-linear-gradient(#777777, #111111); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#777777, #111111); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#777777, #111111); /* Standard syntax */			    
				border-bottom: 3 solid #e1e4e6;
			}			

			#menu ul {
			    height: auto;
			    padding: 8px 0px;
			    margin: 0px;
			}

			#menu li { 
				display: inline; 
				padding: 20px; 
			}

			#menu a {
			    text-decoration: none;
			    color: white;
			    padding: 8px 8px 8px 8px;
			}

			#menu a:hover {
			    color: #F90;
			}

			ul {
				list-style: none;
				text-align: center;
			}

			ul li {
				display: inline-block;
			}

			#questions {
				text-align: center;
			}